@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
        <div class="col-md-4 offset-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login</h3>
                    <form>
                        <div class="form-group mb-3">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Login</button>
                    </form>
                    <div class="text-center mt-3">
                        <small>
                            Don't have an account? <a href="#">Register here</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>